<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Font Awesome kit script -->
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <!-- Google Fonts Open Sans-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
        html {
            height: 100%;
        }

        body {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            height: 100%;
        }

        .form-container {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: #1259A7;
        }

        .form {
            background-color: white;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .logo-image {
            height: 100px;
            width: 100px;
            object-fit: contain;
        }

        .custom-file {
            margin: 20px 0
        }

        .submit-btn {
            background-color: #1259A7;
            color: white;
            border: 0 none;
            outline: none;
        }

        .submit-btn:hover {
            color: lightgray;
        }

        #loading-btn {
            display: none;
            margin-top: 10px;
        }

        .progress-loading {
            display: none;
        }

        #allStates {
            margin: 10px 0;
        }

        #allStates+label {
            font-weight: 100;
        }

        #channels-select {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .error {
            color: red;
            margin-bottom: 10px;
        }

        /* modal css start */
        .modal-confirm {
            color: #434e65;
            width: 525px;
            z-index: 10000;
        }

        .modal-confirm .modal-content {
            padding: 20px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
        }

        .modal-confirm .error-modal-header {
            background: #e85e6c;
            border-bottom: none;
            position: relative;
            text-align: center;
            margin: -20px -20px 0;
            border-radius: 5px 5px 0 0;
            padding: 35px;
        }

        .modal-confirm .success-modal-header {
            background: #47c9a2;
            border-bottom: none;
            position: relative;
            text-align: center;
            margin: -20px -20px 0;
            border-radius: 5px 5px 0 0;
            padding: 35px;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 36px;
            margin: 10px 0;
        }

        .modal-confirm .form-control,
        .modal-confirm .btn {
            min-height: 40px;
            border-radius: 3px;
        }

        .modal-confirm .close {
            position: absolute;
            top: 15px;
            right: 15px;
            color: #fff;
            text-shadow: none;
            opacity: 0.5;
        }

        .modal-confirm .close:hover {
            opacity: 0.8;
        }

        .modal-confirm .icon-box {
            color: #fff;
            width: 95px;
            height: 95px;
            display: inline-block;
            border-radius: 50%;
            z-index: 9;
            border: 5px solid #fff;
            padding: 15px;
            text-align: center;
        }

        .modal-confirm .icon-box i {
            font-size: 58px;
            margin: -2px 0 0 -2px;
        }

        .modal-confirm.modal-dialog {
            margin-top: 80px;
        }

        .modal-confirm .btn,
        .modal-confirm .btn:active {
            color: #fff;
            border-radius: 4px;
            background: #eeb711 !important;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border-radius: 30px;
            margin-top: 10px;
            padding: 6px 20px;
            min-width: 150px;
            border: none;
        }

        .modal-confirm .btn:hover,
        .modal-confirm .btn:focus {
            background: #eda645 !important;
            outline: none;
        }
    </style>
</head>

<body>
    <div class="form-container">
        <form class="form" id="uploadForm">
            <div class="text-center">
                <img src="https://citystreamingtelevision.com/img/logo.png" class="rounded logo-image" alt="brand">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="organizationName">Oraganization:</label>
                    <input type="text" class="form-control" name="organizationName" id="organizationName"
                        placeholder="Oraganization Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="campaignName">Campaign:</label>
                    <input type="text" class="form-control" name="campaignName" id="campaignName"
                        placeholder="Campaign Name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12"><input type="checkbox" id="allStates" name="allStates" value="true">
                    <label for="allStates">Run Ad in all States</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="state">State</label>
                    <select id="state" class="form-control" name="state" required>
                        <option selected disabled value="">Choose...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <select id="city" class="form-control" name="city" required>
                        <option selected disabled value="">Choose...</option>
                    </select>
                </div>
            </div>
            <div class="form-row mb-4">
                <label for="channel">Channel</label>
                <div class="col-md-12" id="channels-select"></div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Start Date</label>
                    <input type="text" name="startDate" id="start-date" class="form-control" placeholder="Choose"
                        autocomplete="off" required>
                </div>
                <div class="form-group col-md-6">
                    <label>End Date</label>
                    <input type="text" name="endDate" id="end-date" class="form-control" placeholder="Choose"
                        autocomplete="off" required>
                </div>
            </div>
            <div class="custom-file form-group">
                <input type="file" class="custom-file-input" id="customFile" name="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>

            <h6 style="overflow: hidden;" class="text-center text-muted" style="margin-top: 10px;" id="fileName"></h6>

            <div class="form-group">
                <span>Select Duration of Ad: </span>
                <input type="radio" id="30sec" name="duration" value="30">
                <label for="30sec">30 sec</label>
                <input type="radio" id="60sec" name="duration" value="60">
                <label for="60sec">60 sec</label>
            </div>

            <!-- progress bar  -->
            <div class="progress-loading">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="100">
                    </div>
                </div>
            </div>

            <div>
                <div id="message"></div>
                <video id="myVideo" hidden></video>
            </div>

            <button type="submit" id="upload-btn" class="btn btn-lg btn-block submit submit-btn">Submit</button>
            <button class="btn btn-lg btn-block submit-btn" type="submit action-btn" id="loading-btn" disabled>
                <span class="spinner-border spinner-border-md" role="status" aria-hidden="true"></span>
                Uploading...
            </button>
        </form>


        <!--Error Modal HTML -->
        <div id="errorModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="error-modal-header justify-content-center">
                        <div class="icon-box">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Ooops!</h4>
                        <p id="error-response">Something went wrong.</p>
                        <button class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Success Modal HTML -->
        <div id="successModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="success-modal-header justify-content-center">
                        <div class="icon-box">
                            <i class="material-icons">&#xE876;</i>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Great!</h4>
                        <p>Video uploaded successfully.</p>
                        <button class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $("#start-date").datepicker({
            dateFormat: 'mm/dd/yy',
            changeMonth: true,
            changeYear: false,
            minDate: 0,
            onSelect: function () {
                let endDate = $('#end-date');
                let startDate = $(this).datepicker('getDate');
                startDate.setDate(startDate.getDate() + 1);
                //dt2 not set or dt1 date is greater than dt2 date
                endDate.datepicker('setDate', startDate);
                //first day which can be selected in dt2 is selected date in dt1
                endDate.datepicker('option', 'minDate', startDate);
            }
        });
        $("#end-date").datepicker({
            dateFormat: 'mm/dd/yy',
            changeMonth: true,
            changeYear: false,
            minDate: Date.now()
        });

        $('#customFile').change(function (e) {
            var fileName = e.target.files[0].name;
            $('#fileName').text(fileName);
        });

        var vid = document.getElementById("myVideo");
        (function localFileVideoPlayer() {
            'use strict'
            var URL = window.URL || window.webkitURL;
            var playSelectedFile = function (event) {
                var file = this.files[0];
                var type = file.type;
                var videoNode = document.querySelector('video');

                var fileURL = URL.createObjectURL(file)
                videoNode.src = fileURL
            }
            var inputNode = document.querySelector('#customFile')
            inputNode.addEventListener('change', playSelectedFile, false)
        })();


        //getting active states
        const getActiveStates = () => {
            $.ajax({
                type: 'get',
                url: `/api/data/active-states`,
                success: data => {
                    data.forEach(item => {
                        $('#state').append(new Option(item.stateName, item.stateCode));
                    });
                },
                error: (e) => { }
            });
        }
        getActiveStates();

        $('#allStates').change(function () {
            $('#channels-select').empty();
            if (this.checked) {
                $('#state').prop('disabled', true);
                $('#city').prop('disabled', true);
                getActiveChannels(null, 'all');
            } else {
                $('#state').prop('disabled', false);
                $('#city').prop('disabled', false);

            }
        });

        let cities = [];
        //getting active cities of state 
        $('#state').change(function () {
            let option1 = new Option('Choose', null, true, true);
            option1.disabled = true;
            let option2 = new Option('Choose', '', true, true);
            option2.disabled = true;

            $('#city').empty();
            $('#city').append(option1);
            $('#channel').empty();
            $('#channel').append(option2);

            $('#channels-select').empty();

            $.ajax({
                type: 'get',
                url: `/api/data/active-cities/${this.value}`,
                success: data => {
                    cities = data;
                    data.forEach(item => {
                        $('#city').append(new Option(item.cityName, item.cityId));
                    });
                },
                error: (e) => { }
            });
        });

        $('#city').change(function () {
            let option = new Option('Choose', '', true, true)
            option.disabled = true;

            $('#channel').empty();
            $('#channel').append(option);

            getActiveChannels(this.value);

        });

        const getActiveChannels = (cityId, type = 'byCity') => {
            $.ajax({
                type: 'get',
                url: `/api/data/channels?cityId=${cityId}&status=active&type=${type}`,
                success: data => {
                    $('#channels-select').empty();
                    data.forEach(item => {
                        $checkbox = `<div><input type="checkbox" id="${item.channelName}" name="channel" value="${item.channelName}">
                                    <label for="${item.channelName}">${item.channelName}</label></div>`;

                        $('#channels-select').append($checkbox);
                    });
                },
                error: (e) => {
                    console.log(e)
                }
            });
        }

        $('#uploadForm').submit(function (e) {
            e.preventDefault();

            let duration = $('input[name="duration"]:checked').val();
            if (duration) {

                let values = { channels: [] };
                $.each($(this).serializeArray(), function (i, field) {
                    if (field.name === 'channel') {
                        values.channels = [...values.channels, { channelName: field.value }]
                    } else {
                        values[field.name] = field.value;
                    }
                });

                if (!values.allStates) {
                    let city = cities.filter(item => item.cityId == values.city);
                    values.cityName = city[0].cityName;
                    values.scheduling = city[0].scheduling;
                }
                values.adsUserId = 0;
                values.budget = 0;
                values.priority = 'low';

                var displayMessage = function (message, isError) {
                    var element = document.querySelector('#message');
                    element.innerHTML = message;
                    element.className = isError ? 'error' : 'errInfo';
                }

                if (vid.duration >= Number(duration) - 2) {
                    var message = ``;
                    var isError = false;
                    displayMessage(message, isError);

                    let video = $("#customFile")[0].files[0];
                    if (!video) {
                        alert('Please select a video first')
                        return
                    }
                    $('.progress-loading').css('display', 'block');
                    $('#loading-btn').css('display', 'block');
                    $('#upload-btn').hide();
                    let formData = new FormData();
                    formData.append('video', video);
                    for (var key in values) {
                        if (key === 'channels') {
                            formData.append('channels', JSON.stringify(values.channels));
                            // values.channels.forEach((item, index) => {
                            //     formData.append('channels[]', values.channels[index]);
                            //     console.log(values.channels[index]);
                            // });
                        } else {
                            formData.append(key, values[key]);
                        }
                    }
                    $.ajax({
                        type: 'post',
                        processData: false,
                        contentType: false,
                        url: `/api/video/ad-upload?campaignName=${values.campaignName}&adsUserId=${values.adsUserId}`,
                        data: formData,
                        enctype: 'multipart/form-data',
                        xhr: function () {
                            var xhr = new window.XMLHttpRequest();
                            xhr.upload.addEventListener("progress", function (evt) {
                                if (evt.lengthComputable) {
                                    var percentComplete = evt.loaded / evt.total;
                                    percentComplete = parseInt(percentComplete * 100);
                                    $('.progress-bar').css('width', percentComplete + '%').attr('aria-valuenow', percentComplete);
                                }
                            }, false);
                            return xhr;
                        },
                        success: data => {
                            $("#customFile").val(null);
                            $('#fileName').text('');
                            $('#loading-btn').hide();
                            $('.progress-loading').hide();
                            $('#upload-btn').show();
                            $('#successModal').modal('show');
                            $("input[type=text], input[type=number]").val("");
                            $("#state").prop('selectedIndex', 0);
                            $("#city").prop('selectedIndex', 0);
                            $("#channel").prop('selectedIndex', 0);
                            $('.progress-bar').css('width', 0 + '%').attr('aria-valuenow', 0);
                        },
                        error: (e) => {
                            $('#loading-btn').hide();
                            $('.progress-loading').hide();
                            $('#upload-btn').show();
                            $('#error-response').text(e.responseJSON?.message || 'Something went wrong');
                            $('#errorModal').modal('show');
                            $('.progress-bar').css('width', 0 + '%').attr('aria-valuenow', 0);
                        },
                    });
                }
                else {
                    var message = `Video duration must be greater or equal to ${duration - 2} sec.`;
                    var isError = true;
                    displayMessage(message, isError)
                }
            } else {
                alert('Please select the duration');
            }
        });
    </script>
</body>

</html>