<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Auth</title>

    <!-- Font Awesome kit script -->
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <!-- Google Fonts Open Sans-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
        body {
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
        }

        .background {
            background-color: rgba(0, 61, 128, 0.7);
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-form {
            width: 340px;
            /* margin: 250px auto; */
            font-size: 15px;
        }

        .login-form form {
            margin-bottom: 15px;
            background: white;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
            border-radius: 10px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

        .form-control,
        .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }
    </style>

</head>

<body>
    <div class="background">
        <div class="login-form">
            <div class="alert alert-danger" role="alert" id="loginAlert">
                <p style="text-align: center;">Email not found!</p>
            </div>
            <form id="form" action="/api/auth/user-by-email" method="POST">
                <h2 class="text-center">Verify your email!</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" name="email" required>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Sign In</button>
            </form>
        </div>
    </div>

    <script>
        $('#loginAlert').hide();
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('error');
        if (myParam) {
            $('#loginAlert').show();
        }
    </script>

</body>

</html>